@charset "UTF-8";


body {
    font-family: "Lato","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: 0.05em;
    color: #727171;
  }
  
  a {
    transition: opacity 0.3s;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border-style: none;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  .pc-only {
    display: none;
  }
  
  .sp-only {
    display: block;
  }

/*レイアウト*/
.section {
    padding: 40px 0;
  }
  
.inner {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 40px;
}

/*見出し*/
.title-area{
    text-align: center;
    margin-bottom: 25px;
}

.title-area__title {
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
    letter-spacing: 0.07em;
    color: #D6909D;
  }

  .title-area__subtitle{
    font-size: 13px;
  }

/*ヘッダー*/
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    transition: background-color 0.6s;
  }

  
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
  }
  
  .header-logo {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }

  .header.active{
    background-color: #D6909D;
  }
  
  .header-logo a {
    color: #727171;
  }
  
  .header-nav-list {
    display: flex;
    justify-content: space-between;
  }
  
  .header-nav-item:not(:last-child) {
    margin-right: 8px;
  }
  
  .header-nav-item a {
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #727171;
  }
  
  .header-nav-item a:hover {
    opacity: 0.8;
  }

/*メインビジュアル*/

.main-visual{
    margin-bottom: 40px;
}
    
.main-visual-img{
    height: 90vh;
    background-image: url(img/portfolio_sp3.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Profile*/
.profile-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #737d6d;
  }
  
  .profile-text {
    max-width: 500px;
    margin: 0 auto;
  }

  /*works*/
  .works-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: space-between;
  }

  .works-item{
    width: calc(100% / 2);
    text-align: center;
  }

  .works-item:hover{
    opacity: 0.8;
  }

  .works-img img {
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 2px #727171;
  }
  
  .works-name {
    font-size: 12px;
    font-weight: bold;
    margin-top: 8px;
  }
  
  .works-info {
    font-size: 10px;
  }


@media screen and (min-width: 600px) {
    body {
        font-size: 20px;
      }
      
      .pc-only {
        display: block;
      }
      
      .sp-only {
        display: none;
      }
    
    /*レイアウト*/
    .section {
        padding: 80px 0;
      }
      
    .inner {
        padding: 0 80px;
    }
    
    /*見出し*/
    .title-area{
        margin-bottom: 30px;
    }
    
    .title-area__title {
        font-size: 40px;
        margin-bottom: 10px;
      }
    
      .title-area__subtitle{
        font-size: 15px;
      }
    
    /*ヘッダー*/
      .header-inner {
        padding: 30px 30px;
      }
      
      .header-logo {
        font-size: 35px;
        line-height: 1.5;
      }

      
      .header-nav-item:not(:last-child) {
        margin-right: 15px;
      }
      
      .header-nav-item a {
        font-size: 20px;
      }
    
    /*メインビジュアル*/
    .main-visual{
        margin-bottom: 60px;
    }
        
    .main-visual-img{
        background-image: url(img/portfolio_mv.jpg);
    }

     /*works*/
  .works-list{
    row-gap: 30px;
  }

  .works-item{
    width: calc(100% / 3);
  }

  .works-img img{
    box-shadow: 0 0 4px #727171;
  }

  .works-name {
    font-size: 15px;
    margin-top: 8px;
  }
  
  .works-info {
    font-size: 13px;
  }

}